spring:
  datasource:
    url: jdbc:postgresql://ep-empty-union-a53wc52n.us-east-2.aws.neon.tech/springprojetDB?sslmode=require
    username: springprojetDB_owner
    password: JLo7T9vlmVgq
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
  show-actuator: true